<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Pizzaria | Último Pedaço</title>
</head>

<body>

    <div class="card text-bg-light mb-3" style="max-width: 60%; margin-left: 10%; margin-right: auto; margin-top: 3%;">
        <div class="card-header">Pedidos</div>
        <div class="card-body">
            <br>
            <table class="table">
                <h3 id="">Pizzas<h3>
                <thead class="table-primary">
                    <tr>
                        <td>Número</td>
                        <td>Sabor</td>
                        <td>Descrição</td>
                        <td>Valor</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="aluno: ${listaDePizzas}">
                        <td th:text="${pizza.numero}"></td>
                        <td th:text="${pizza.sabor}"></td>
                        <td th:text="${pizza.descricao}"></td>
                        <td><a th:href="@{/se0ecionaAluno(id=${aluno.matricula})}">Alterar</a></td>
                        <td><a th:href="@{/removeAluno(id=${aluno.matricula})}">Excluir</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>
            <h3 id="">Bebidas<h3>
            <table class="table">
                <thead class="table-primary">
                    <tr>
                        <td>Número</td>
                        <td>Bebida</td>
                        <td>Quantidade</td>
                        <td>Preço</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="aluno: ${listaDeBebidas}">
                        <td th:text="${bebida.numero}"></td>
                        <td th:text="${bebida.quantidade}"></td>
                        <td th:text="${bebida.preco}"></td>
                        <td><a th:href="@{/se0ecionaAluno(id=${aluno.matricula})}">Alterar</a></td>
                        <td><a th:href="@{/removeAluno(id=${aluno.matricula})}">Excluir</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>